apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Values.volume.name }}
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ .Values.volume.name }}
  local:
    path: {{ .Values.volume.path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - master
                - node-1
                - node-2
                - node-3
---